.wrapper{
    margin: 10px;
}

#create-btn{
    margin: 0px 10px 10px 14px;
    padding: 4px 9px;
    font-size: 14px !important;
}

label{
    margin: 0px 0px 8px !important;
}

#searchForm{
    margin: 4px 0px 0px;
}

.form-group{
    margin: 14px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.btn{
    padding: 4px 9px;
    font-size: 14px !important;
}

.search-btn{
    margin: 4px;
}

.gif-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gif-image{
    margin: 4px;
}
