.wrapper{
    margin: 10px;
}

.title{
    font-size: 2em;
}

#create-btn{
    margin: 0px 14px 10px 14px;
    padding: 4px 9px;
    font-size: 14px !important;
}

label{
    margin: 0px 0px 8px !important;
}

#searchForm{
    margin: 4px 0px 0px;
}

.form-group{
    margin: 14px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.btn{
    padding: 4px 9px;
    font-size: 14px !important;
}

.search-btn{
    margin: 4px;
}

.btn-primary {
    color: #fff;
    background-color:lightseagreen;
    border-color:lightseagreen; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: lightskyblue;
    border-color:lightskyblue; 
}

.gif-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gif{
    margin: 10px;
    max-width: 25%;
    max-height: 250px;
}

.gif-image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.card-body{
    padding: 4px;
    max-width: 100%;
    height: auto;
    margin: auto;
}